#mainContent {
  display: none;
}

tr {
  width: 31rem;
  height: 30rem;
  display: flex;
  flex-wrap: wrap;
}

td {
  width: 10rem;
  height: 10rem;
  background-color: black;
  color: white;
  border: 0.1rem solid white;
  font-size: 8rem;
  cursor: pointer;
}
